<div class="root">
  <div class="app" >
    <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div align="center">
          <img src="/img/apple-touch-icon-precomposed.png" width="100" alt="Logo">
          <h1 lass="title"> PWAssistant </h1>
          <p lass="title"> I am an assistant, I can help you as my creator can coding. </p>  
          <br>
          <br>
        </div>
        <div class="columns is-vcentered" ng-if="!$ctrl.isCompleteIntro">
          <div class="column is-4 is-offset-4">
            <h1 class="title" align="center">
              Introduce Yourself 
            </h1>
            <form name="userIntro" novalidate ng-submit="$ctrl.userIntro()">  
              <div class="box">
                <div class="field">
                  <label class="label">Name</label>
                  <p class="control">
                    <input class="input" type="text" ng-model="$ctrl.user.name" placeholder="John Doe" required>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Age</label>
                  <p class="control">
                  <input class="input" type="number" ng-model="$ctrl.user.age" placeholder="43" required>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Address</label>
                  <p class="control">
                    <input class="input" type="text" ng-model="$ctrl.user.address" placeholder="Bangkok" required>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Job Title</label>
                  <p class="control">
                    <input class="input" type="text" ng-model="$ctrl.user.job" placeholder="Bot Creator" required>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Sleep time</label>
                  <p class="control">
                    <input class="input" type="time" ng-model="$ctrl.user.sleeptime" placeholder="23:00" required>
                  </p>
                </div>
                <div class="field">
                  <label class="label">Wake up time</label>
                  <p class="control">
                    <input class="input" type="time" ng-model="$ctrl.user.wakeuptime" placeholder="07:00" required>
                  </p>
                </div>
                <div align=center>
                  <p class="control" align="center">
                    <button type="submit" ng-disabled="userIntro.$invalid" 
                    class="button is-primary is-medium">This is me :)</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <section class="section" ng-if="$ctrl.assistantSection">
          <div class="container">
            <div align="cneter">
              <h1 class="title">{{$ctrl.sayHi}}</h1>
              <h2 class="subtitle">
                I can help you as follow this command please select :)
              </h2>
              <p class="control" align="center">
                 <div class="column is-6 is-offset-3">
                    <div class="box">
                      <div class="field">
                        <label class="label">พิมพ์มาเลย</label>
                        <p class="control">
                          <input class="input" type="text" ng-model="$ctrl.searchtext">
                        </p>
                      </div>
                      <button class="button is-primary is-medium" ng-click="$ctrl.serachFood()">อยากหาร้านอาหาร</button>
                      <button class="button is-primary is-medium" ng-click="$ctrl.serachFlight()">อยากจองตั๋วเครื่องบิน</button>
                      <button class="button is-primary is-medium" ng-click="$ctrl.serachTodo()">อยากจดบันทึก</button>
                      <button class="button is-primary is-medium" ng-click="$ctrl.needToSleep()">อยากนอน</button>
                    <div>
                  </div>
              </p>
              <p class="control" align="center">
                 <div class="column"  ng-show="$ctrl.todlListActive">
                    <h1 class="title">TODO LIST FOR {{$ctrl.user.name}}</h1>
                    <div class="box" ng-repeat="list in $ctrl.todlList track by $index">
                      <li> {{list}} </li>
                    <div>
                  </div>
              </p>
            </div>
          </div>
        </section>
    </div>
  </section>
  </div>
</div>

<div class="modal" ng-class="{'is-active' : $ctrl.modalSleepOpen}">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                  <h1> {{$ctrl.message}} </h1>
                  <button class="button is-primary is-medium" ng-click="$ctrl.confirmSleep()">ใช่ ง่วงมาก</button>
              </div>
            </div>
          </article>
        </div>
    </div>
    <button class="modal-close" ng-click="$ctrl.modalSleepOpen = false"></button>
  </div>